@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, sunset, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}
