@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, sunset, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, Poppins, sans-serif;

  --color-navy: #03045E;
  --color-blue: #0077B6;
  --color-cyan: #00B4D8;
  --color-lightBlue: #90E0EF;
  --color-paleBlue: #CAF0F8;
}

html {
  scroll-behavior: smooth;
}
